/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     rgba(24, 24, 24, 0.85); /* Matches Quickshell PowerMenu 'base' */
    background-alt: #333333;             /* Matches Quickshell 'highlight' */
    foreground:     #d0daed;             /* Matches Quickshell 'textLight' */
    selected:       #fccf8a;             /* Matches Quickshell 'accent' */
    active:         #f2d793;             /* Matches Quickshell 'cbodyPowerMenu' */
    urgent:         #fc5870;             /* Matches Quickshell 'danger' */
}
